<div id="_sn_block" style="width:300px; height:250px;"></div>
<script type="text/javascript" src="<%= url_for :controller => "serve", :action => "js", :only_path => false %>"></script>
<script type="text/javascript">_sn_serve(<%= {:id => "_sn_block", :pub => publisher.access_hash, :tid => publisher_integration.tid, :a => attribute_value_ids_to_hash(publisher_integration.attribute_value_ids)}.to_json %>);</script>
