<div class="sn-block">
	<div class="sn-ad"><%= render :partial => "serve_ad/template_1/ad", :locals => {:ad => @ads[0]} %></div>
	<div class="sn-ad"><%= render :partial => "serve_ad/template_1/ad", :locals => {:ad => @ads[1]} %></div>
	<div class="sn-ad"><%= render :partial => "serve_ad/template_1/ad", :locals => {:ad => @ads[2]} %></div>
</div>
