<div id="user">
	<% if is_logged_in? %>
		Hi, <%= link_to @auth_user.username, edit_user_path(@auth_user) %>
		[ <%= link_to @auth_user.account.name, :controller => "account", :action => "edit" %> ] |
		<%= link_to "Logout", :controller => "authenticate", :action => "logout" %>
	<% else %>
		<%= link_to "Login", :controller => "authenticate", :action => "login" %>
	<% end %>
</div>
